<% include layout/header %>

   
		<!-- Start Page Title Area -->
		<div class="page-title-area bg-21">
			<div class="container">
				<div class="page-title-content">
					<h2>404</h2>

					<ul>
						<li>
							<a href="index-2.html">
								Home 
							</a>
						</li>

						<li class="active">404</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start 404 Error -->
		<div class="error-area ptb-100">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="error-content">
						<h1>4 <span>0</span> 4</h1>
						<h3>Oops! Page Not Found</h3>
						<p>The page you were looking for could not be found.</p>

						<a href="" class="default-btn two">
							Return To Home Page
						</a>
					</div>
				</div>
			</div>
		</div>
<% include layout/footer %>

   